@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

:root {
    --default-font: 'Noto Sans', sans-serif;
    --bg-color: #2a7a8c;
    --black-ish: #2f2d2e;
    --white-ish: #f7f9f9;
    --blue-ish: #3a378c;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--default-font);
    color: var(--white-ish);
}

html, body {
    width: 100vw;
    height: 93vh;
    overflow: hidden;
    font-size: 100%;
    margin: auto;
}

body {
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    width: 85%;
    height: 75%;
}

form {
    width: 100%;
    height: 100%;
    border-radius: 34px;
}

div#container-top-left {
    background-color: var(--white-ish);
    width: 100%;
    height: 25%;
    border-radius: 34px 34px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div#container-top-left > div#logo-container {
    width: 55%;
    display: flex;
    justify-content: center;
}

div#container-top-left > div#logo-container > img {
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
}

fieldset#container-bottom-right {
    background-color: var(--black-ish);
    width: 100%;
    height: 75%;
    border-radius: 0px 0px 34px 34px;
    border: 2px solid var(--white-ish);
    box-sizing: border-box;
    display: flex; 
    flex-direction: column; 
}

div#container-top-left > img {
    height: 80%;
    display: block;
}

div#message-container {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

div#message-container > h1#welcome {
    font-size: 2rem;
}

div#message-container > p#login-message {
    font-size: 1rem;
}

div#input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 35%;
    gap: 2rem;
}

div#user-container, div#pw-container {
    display: flex;
    width: 80%;
    height: 35%;
    align-items: center;
    border-radius: 10px;
    transition: all 0.3s;
}



.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 200,
    'opsz' 24
}

span.material-symbols-outlined#person, span.material-symbols-outlined#key {
    position: fixed;
    color: var(--black-ish);
    font-size: 2.2rem;
    padding-left: 0.5rem;
}

input#username, input#password {
    width: 100%;
    height: 100%;
    color: var(--black-ish);
    font-size: 1rem;
    text-indent: 3rem;
    border-radius: 10px;
    border: none;
    text-decoration: none;
}

input#username::placeholder, input#password::placeholder {
    font-size: 1rem;
    color: var(--black-ish);
    opacity: 0.5;
}

div#actions-container {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    top: 1.6rem;
    gap: 1rem;
}

div#actions-container > button {
    background-color: var(--bg-color);
    border: none;
    width: 80%;
    height: 40%;
    font-weight: 700;
    font-size: 1.5rem; 
    border-radius: 10px;
    border: none;
    cursor: pointer;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
}

div#actions-container > button:active {
    transform: translateY(2px);
}

div#actions-container > button:hover {
    transition: background-color 0.3s;
    background-color: hsl(191, 54%, 46%);
}

form {
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.2);
}

input#username, input#password, div#actions-container > button {
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
}

input#username:focus, input#password:focus{
    outline: none;
}

div#actions-container > a#forgot {
    text-decoration: none;
    cursor: pointer;
}



