@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

:root {
    --default-font: 'Noto Sans', sans-serif;
    --bg-color: #2a7a8c;
    --black-ish: #2f2d2e;
    --white-ish: #f7f9f9;
    --blue-ish: #3a378c;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--default-font);
    color: white;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    width: 85%;
    height: 85%;
}

form {
    width: 100%;
    height: 100%;
}

div#container-top-left {
    background-color: var(--white-ish);
    width: 100%;
    height: 30%;
    border-radius: 34px 34px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div#container-top-left > div#logo-container {
    width: 70%;
    display: flex;
    justify-content: center;
}

div#container-top-left > div#logo-container > img {
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
}

fieldset#container-bottom-right {
    background-color: var(--black-ish);
    width: 100%;
    height: 70%;
    border-radius: 0px 0px 34px 34px;
    border: 2px solid var(--white-ish);
    box-sizing: border-box;
    display: flex; 
    flex-flow: column;  
}

div#container-top-left > img {
    height: 80%;
    display: block;
}

div#message-container {
    width: 100%;
    height: 30%;
    display: flex;
    flex-flow: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

div#input-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 25%;
}

div#user-container {
    display: flex;
    align-items: center;
    width: 80%;
    height: 60%;  
}

span.material-symbols-outlined#person, span.material-symbols-outlined#key {
    position: fixed;
    color: var(--black-ish);
    font-size: 2.2rem;
    padding-left: 0.5rem;
}

input#username {
    width: 100%;
    height: 60%;
    color: var(--black-ish);
    font-size: 1rem;
    padding-left: 3rem;
}


div#pw-container {
    display: flex;
    align-items: center;
    width: 80%;
    height: 60%;  
}

input#password {
    width: 100%;
    height: 60%;
    color: var(--black-ish);
    font-size: 1rem;
    padding-left: 3rem;
}

input#username::placeholder, input#password::placeholder {
    font-size: 1rem;
    color: var(--black-ish);
    opacity: 0.5;
}

div#actions-container {
    /* background-color: yellow; */
    width: 100%;
    height: 45%;
}




fieldset {
    border: none;
}
